<div class="container">
  <h2>{{ isEdit ? 'Editar Rol' : 'Nuevo Rol' }}</h2>

  <form [formGroup]="form" (ngSubmit)="operate()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre del Rol</mat-label>
      <input matInput formControlName="name" placeholder="Ingrese nombre del rol" />
      <mat-error *ngIf="form.get('name')?.hasError('required')">El nombre es obligatorio</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('minlength')">Mínimo 3 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" placeholder="Ingrese descripción"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">{{ isEdit ? 'Actualizar' : 'Registrar' }}</button>
    <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancelar</button>
  </form>
</div>

