<div class="registration-container">
  <mat-card class="registration-card">
    <mat-card-header class="card-header">
      <h2 class="card-title">REGISTRARSE</h2>
      <div class="underline-title"></div>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="register()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre completo</mat-label>
        <input
          matInput
          placeholder="Juan Lopez"
          formControlName="fullName"
          required
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre de usuario</mat-label>
        <input
          matInput
          placeholder="Juan"
          formControlName="username"
          required
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="example@gmail.com"
          formControlName="email"
          required
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>El email es requerido y debe ser válido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          placeholder="**********"
          formControlName="password"
          required
        />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <!-- Solo muestra el selector de rol si el usuario tiene permisos -->
      <div *ngIf="isAdmin">
        <!-- Selección de roles (múltiples) -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Roles</mat-label>
          <mat-select formControlName="roles" multiple>
            <mat-option *ngFor="let role of roles" [value]="role.idRole">{{
              role.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-checkbox class="remember-me-checkbox">Remember me</mat-checkbox>

      <button mat-flat-button type="submit" class="full-width action-button">
        Registrarse
      </button>
    </form>

    <mat-card-footer class="text-center">
      <p>
        ¿Ya tienes cuenta?
        <a routerLink="/login" class="secondary-link">Iniciar sesión</a>
      </p>
      <p>
        <a href="forgot-password" class="secondary-link">Forgot Password?</a>
      </p>
    </mat-card-footer>
  </mat-card>
</div>
