.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.login-link {
  margin-top: 10px;
  text-align: center;
}

.login-link a {
  cursor: pointer;
  color: #3f51b5;
  text-decoration: underline;
}
