<mat-dialog-content>
  <mat-toolbar><span>Menú Info</span></mat-toolbar>

  <form [formGroup]="form" class="example-container">



    <mat-form-field appearance="fill">
      <mat-label>Nombre de Menú</mat-label>
      <input matInput formControlName="idMenuItem" placeholder="Nombre del Menú" />
      <mat-error *ngIf="form.get('idMenuItem')?.hasError('required') && form.get('idMenuItem')?.touched">Nombre es requerido</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Orden</mat-label>
      <input matInput formControlName="idOrden" placeholder="Orden" />
      <mat-error *ngIf="form.get('idOrden')?.hasError('required') && form.get('idOrden')?.touched">Orden es requerida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
       <mat-label>Cantidad</mat-label>
      <input matInput formControlName="quantity" placeholder="Cantidad" />
      <mat-error *ngIf="form.get('quantity')?.hasError('required') && form.get('quantity')?.touched">Orden es requerida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="unitPrice" placeholder="Precio" type="number" step="0.01" />
      <mat-error *ngIf="form.get('unitPrice')?.hasError('required') && form.get('unitPrice')?.touched">Precio es requerido</mat-error>
    </mat-form-field>



    <div class="actions">
      <button mat-button type="button" (click)="operate()" [disabled]="form.invalid">Guardar</button>
      <button mat-button type="button" (click)="close()">Cancelar</button>
    </div>

  </form>

</mat-dialog-content>
