.dialog-container {
  text-align: center;
  padding: 25px 30px;
  background: #1c1c1c;
  color: #fff;
  border-radius: 15px;
}

.dialog-icon {
  font-size: 60px;
  margin-bottom: 10px;
  color: #ff7043;
}

.dialog-icon mat-icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
}

.dialog-title {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.dialog-message {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 25px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.dialog-actions button {
  display: flex;
  align-items: center;
  gap: 6px; /* espacio entre icono y texto */
}
.btn-delete{
    background-color: #b72525;
    height: 35px;
    width: 100px;
    color: white;
    border-radius: 10px;
    justify-content: center;
}

button[mat-button] {
  color: #bbb;
    border-radius: 10px;

}
button[color="warn"] mat-icon {
  margin-right: 3px;
  font-size: 20px;
  height: 20px;
  width: 20px;
}
