:root {
  --sidebar-width: 240px;
  --sidebar-collapsed: 65px;

  /* Colores */
  --sidebar-bg: #b30000;
  --sidebar-bg-dark: #220000;

  --navbar-bg: linear-gradient(90deg, #d62828, #f77f00, #fcbf49);
  --navbar-bg-dark: linear-gradient(90deg, #3a0ca3, #4361ee, #4cc9f0);

  --text-light: white;
  --text-dark: #333;

  --content-bg: #f4f4f4;
  --content-bg-dark: #121212;
}

/* Estilos del layout */

.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  height: 65px;
  background: var(--navbar-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* CONTENIDO PRINCIPAL */
.main-wrapper {
  display: flex;
  height: 100%;
  margin-top: 65px;
}

/* Sidebar estilizado */

.sidebar {
  width: var(--sidebar-width);
  background: var(--sidebar-bg);
  color: white;
  height: 100%;
  padding-top: 20px;
  transition: width 0.25s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 4px 0 10px rgba(0,0,0,0.25);
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed);
}

.sidebar .logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar .logo {
  width: 55px;
  margin-bottom: 5px;
}

.sidebar.collapsed .logo-section h2 {
  display: none;
}

/* 
Menú */

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  color: var(--text-light);
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 15px;
}

.menu a:hover,
.menu a.active {
  background: rgba(255,255,255,0.18);
  border-left: 4px solid white;
}

.sidebar.collapsed a span {
  display: none;
}


/* Botón */

.toggle-btn {
  position: absolute;
  bottom: 15px;
  right: 10px;
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}


.content {
  flex: 1;
  padding: 25px;
  background: var(--content-bg);
  overflow-y: auto;
}
