/* === TAILWIND === */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === GLOBAL TYPO === */
html, body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', Roboto, sans-serif;}

  /* Tailwind */
/* === GLOBAL DARK THEME === */
/* Mover esto al archivo global (styles.scss) */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* ¡Importante! Asegúrate de que este degradado no sea sobrescrito por un tema oscuro. */
  background: linear-gradient(to right top, #3E160C, #785D32, #E8D9C4) !important; 

}

/* ===== Scrollbar Moderno ===== */

::-webkit-scrollbar {
  width: 5px;            /* grosor */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #3a3a3abd;    /* fondo del track */
}

::-webkit-scrollbar-thumb {
  background: #454545;    /* color naranja (puedes cambiar) */
  border-radius: 10px;    /* redondeado */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #be6003;    /* color naranja (puedes cambiar) */
  border-radius: 10px;    /* redondeado */
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;    /* color al pasar el mouse */
}


/* Scrollbar premium
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 10px;
} */

/* ========================================
   OVERRIDE DEL DIALOGO GLOBAL
   ======================================== */
.mat-mdc-dialog-container .mdc-dialog__surface {
  background: #121212 !important;
  border-radius: 18px !important;
  color: white !important;
  padding: 0 !important;
  border: 1px solid rgba(255, 120, 40, 0.35);
  box-shadow: 0 0 35px rgba(255, 120, 40, 0.55) !important;
}

/* === Corrige el fondo transparente de selects e inputs === */
/* .mdc-text-field--filled .mdc-text-field__box {
  background-color: #ffffff !important;
  border-radius: 10px !important;
} */

/* .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: linear-gradient(90deg, #000000, #645e55);
    border-radius: 10px !important;

} */

/* Evita overlays transparentes */
/* .mat-mdc-form-field-focus-overlay {
  background: transparent !important;
} */

/* Texto interno */
/* .mdc-text-field__input,
.mat-mdc-select-value-text {
  color: #1e1e1e !important;
} */

/* Icono flecha select */
/* .mat-mdc-select-arrow svg {
  fill: #fff !important;
} */

/* Fondo del panel select */
.mat-mdc-select-panel {
  background: #474747 !important;
  color: #fff !important;
  border-radius: 10px !important;
}


