html, body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', Roboto, sans-serif;
}

/* Tema por defecto */
body {
  background: #f4f4f4;
}

.dark-theme {
  background: #121212 !important;
  color: #fff !important;
}
